#display {
	background-color: lightblue;
	padding: 1em;
	font-size: 2em;
}

#container {
	width: 300px;
	height: 500px;
	margin: auto;
	border: 1px solid black;
	padding: 5px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr)
}

.ops {
	background-color: #F88E2B;
}

.others {
	d/*isplay: grid;
	grid-template-columns: repeat(4, 1fr);	*/
}